.box {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  width: 200%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #5396d4;
  padding: 10px;
}

.media-left {
  width: 30%;
  margin-right: 10px;
}

.media-content {
  flex: 1;
}

.media-right {
  width: 30%;
  margin-left: 10px;
}

.input-with-button {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input {
  width: 30%;
  height: 30px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.added-calories {
  width: 30%;
  margin: 0 10px;
  font-size: 14px;
}
.button.is-info {
  width: 10%;
  height: 30px;
  padding: 5px 10px;
  font-size: 14px;
  justify-content: center;
  background-color: #2ba5c7;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;

}

.reset {
  margin-left: 10px;
  background-color: #fff;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}